.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  width: 450px;
  max-height: 90vh;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  left: 0;
  cursor: pointer;
  font-size: 18px;
}

.input-field {
  width: 100%;
  padding: 13px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.continue-btn {
  width: 100%;
  padding: 12px;
  background-color: #ff385c;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.continue-btn:hover {
  background-color: #e31c5f;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: gray;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.toggle-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.toggle-link {
  color: #ff385c;
  cursor: pointer;
  font-weight: bold;
}

.divider{
  margin:15px 0;
  border:none;
  border-top:1px solid #ddd;
}

.google-btn{
  width:100%;
  padding:12px;
  border-radius:8px;
  border:1px solid #ddd;
  background:white;
  cursor:pointer;
  font-weight:500;
  margin-bottom:15px;
}

.google-btn:hover{
  background:#f7f7f7;
}

.login-link{
  text-align:center;
  font-size:14px;
}

.login-link span{
  color:#ff385c;
  cursor:pointer;
  font-weight:600;
}